<!DOCTYPE html>
<html lang="en">
<head>

  <title>Thorr Stevens | The Aspiring Intern</title>
  <meta http-equiv="content-language" content="nl">
  <meta name="description" content="Designer, Developer and writer of stuff and things on the web.">
  <meta name="keywords" content="Thorr, Stevens, Intern, Jobs, Belgium, Development, Programming, Front-End, Developer">
  <meta name="author" content="Thorr Stevens">
  <meta property="og:url" content="http://thorrstevens.herokuapp.com"/>
  <meta property="og:image" content=""/>
  <meta property="og:site_name" content="Thorr Stevens | The Aspiring Intern"/>
  <meta property="og:title" content="Thorr Stevens | The Aspiring Intern"/>
  <meta property="og:description" content="Designer, Developer and writer of stuff and things on the web."/>
  <link rel="canonical" href="http://thorrstevens.herokuapp.com" />
  <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>

</head>
<body>
  <div id="container">

    <!-- Content -->
    <div id="content">
    <main>

    {{{content}}}
    {{{_sections.scripts}}}

    </main>
    </div>
    <!-- / Content -->

  </div>

  <script src="/socket.io/socket.io.js"></script>
  <!--<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>-->
  <script src="/js/script.js"></script>

</body>
</html>
