@font-face {
 font-family: ProximaNova;
 src: url("/fonts/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
 font-family: ProximaNova;
 src: url("/fonts/ProximaNova-LightItalic.ttf") format("truetype");
 font-weight: lighter;
 font-style: italic;
}

@font-face {
 font-family: ProximaNovaBlack;
 src: url("/fonts/ProximaNova-Black.ttf") format("truetype");
 font-weight: bolder;
}

@font-face {
 font-family: ProximaNovaBlack;
 src: url("/fonts/ProximaNova-Bold.ttf") format("truetype");
 font-weight: bold;
}

@font-face {
 font-family: Merriweather;
 src: url("/fonts/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
 font-family: Merriweather;
 src: url("/fonts/Merriweather-BoldIt.ttf") format("truetype");
 font-style: italic;
 font-weight: bold;
}

@font-face {
 font-family: ProximaNova;
 src: url("/fonts/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
 font-family: ProximaNova;
 src: url("/fonts/ProximaNova-LightItalic.ttf") format("truetype");
 font-weight: lighter;
 font-style: italic;
}

@font-face {
 font-family: ProximaNovaBlack;
 src: url("/fonts/ProximaNova-Black.ttf") format("truetype");
 font-weight: bolder;
}

@font-face {
 font-family: ProximaNovaBlack;
 src: url("/fonts/ProximaNova-Bold.ttf") format("truetype");
 font-weight: bold;
}

@font-face {
 font-family: Merriweather;
 src: url("/fonts/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
 font-family: Merriweather;
 src: url("/fonts/Merriweather-BoldIt.ttf") format("truetype");
 font-style: italic;
 font-weight: bold;
}
