<header class="h">

  <img src="/img/thorr.png" alt="" class="pic" />

  <section class="hidden">
    Thorr Stevens
  </section>

</header>

<!-- Intro -->
<article class="intro-wrapper">

  <section class="designer skillset">
    <h1 class="des-title">Designer</h1>
    <div class="des-wrapper">
      <ul>
        <li>
          <img src="" alt=""><span>Affinity Designer</span>
          <progress value="85" max="100">85%</progress>
        </li>
        <li>
          <img src="" alt=""><span>Affinity Photo</span>
          <progress value="80" max="100">80%</progress>
        </li>
        <li>
          <img src="" alt=""><span>Adobe Photoshop</span>
          <progress value="60" max="100">60%</progress>
        </li>
        <li>
          <img src="" alt=""><span>Adobe Illustrator</span>
          <progress value="70" max="100">70%</progress>
        </li>
        <li>
          <img src="" alt=""><span>Adobe After Effects</span>
          <progress value="75" max="100">75%</progress>
        </li>
        <li>
          <img src="" alt=""><span>Cinema 4D</span>
          <progress value="65" max="100">65%</progress>
        </li>
      </ul>
    </div>
  </section>

  <section class="developer skillset">
    <h1 class="dev-title">&#60;developer&gt;</h1>
    <div class="dev-wrapper">
      <ul>
        <li>
          <span class="tech">(HTML5, CSS3, Media Queries)</span> Responsive Web
          <progress value="90" max="100">90%</progress>
        </li>
        <li>
          <span class="tech">(ES2016, REACT)</span> Front-End
          <progress value="85" max="100">85%</progress>
        </li>
        <li>
          <span class="tech">(PHP, MySQL, API, Node.js)</span> Back-End
          <progress value="85" max="100">85%</progress>
        </li>
        <li>
          <span class="tech">(Swift, Java)</span> App Development
          <progress value="55" max="100">55%</progress>
        </li>
        <li>
          <span class="tech">(Arduino, C++, OpenFrameworks)</span> Experimental
          <progress value="60" max="100">60%</progress>
        </li>
        <li>
          <span class="tech">(Phaser.js / SVG)</span> 2D Game Development
          <progress value="70" max="100">70%</progress>
        </li>
      </ul>
    </div>
  </section>

</article>
<!-- / Intro -->

<!-- Trivia -->
<article class="trivia">

  <div class="subheader trivia-header">
    <div class="line">&nbsp;</div>
    <h2>FAQ &amp; Trivia</h2>
  </div>

  <ul class="trivia-item">
    <li><span class="q">Full Name:</span><span class="a">Thorr Stevens</span></li>
    <li><span class="q">Current Project:</span><span class="a"><a href="http://www.motorshop.be" target="blank">motorshop.be</a> (Custom CMS, WIP)</span></li>
    <li><span class="q">For Hire:</span><span class="a">Looking for an Internship</span></li>
    <li><span class="q">E-Mail:</span><span class="a">thor_r_stevens@hotmail.com</span></li>
    <li><span class="q">Current City:</span><span class="a">Ghent, Belgium</span></li>
    <li><span class="q">City of Birth:</span><span class="a">June 7th 1992</span></li>
    <li><span class="q">Languages:</span><span class="a">Dutch, English (French, German)</span></li>
    <li><span class="q">Home Country:</span><span class="a">Belgium</span></li>
    <li><span class="q">College:</span><span class="a"><a href="http://www.howest.be/Default.aspx:target=pih&lan=nl&item=1094" target="blank">Devine</a></span></li>
    <li><span class="q">High School:</span><span class="a">Multimedia</span></li>
    <li><span class="q">Laptop:</span><span class="a">Macbook Pro</span></li>
    <li><span class="q">Design Tool of Choice:</span><span class="a"><a href="https://affinity.serif.com/en-us/ui-design-software/" target="blank">Affinity Designer</a></span></li>
    <li><span class="q">Code Editor:</span><span class="a">Sublime Text</span></li>
    <li><span class="q">Spaces or Tabs:</span><span class="a">Tabs</span></li>
    <li><span class="q">Operating System:</span><span class="a">MacOS (Sierra)</span></li>
    <li><span class="q">Programming Language:</span><span class="a">Depends, but mostly Javascript</span></li>
    <li><span class="q">Designspiration:</span><span class="a"><a href="https://www.pinterest.com/thorrstevens/designspiration/" target="blank">Pinterest</a></span></li>
    <li><span class="q">Browser:</span><span class="a">Chrome</span></li>
    <li><span class="q">Most used Extension:</span><span class="a"><a href="http://usepanda.com/" target="blank">Panda</a></span></li>
    <li><span class="q">Hobbies:</span><span class="a">Gaming, Reading, Writing</span></li>
    <li><span class="q">Favorite show:</span><span class="a">Black Mirror</span></li>
    <!--<li><span class="q">Favorite pet name:</span><span class="a">Doggo</span></li>-->
    <li><span class="q">Publications:</span><span class="a"><a href="http://www.tijd.be/dossier/youngvisionaward-genomineerden/De_hypocrisie_van_onze_tijd.9272036-2849.art" target="blank">De Hypocrisie van Onze Tijd</a></span></li>
  </ul>

</article>
<!-- / Trivia -->

<!-- Social -->
<article class="on-the-web">

  <div class="subheader trivia-header">
    <div class="line">&nbsp;</div>
    <h2>On the Web</h2>
  </div>

  <section class="social">
    <a class="linkedin" href="https://www.linkedin.com/in/thorr-stevens-a61282132" target="blank"><span>LinkedIn</span></a>
    <a class="behance" href="https://www.behance.net/ThorrStevens" target="blank"><span>Béhance</span></a>
    <a class="vimeo" href="https://vimeo.com/thorrstevens" target="blank"><span>Vimeo</span></a>
  </section>

</article>
<!-- / Social -->
