<header class="h">

  <img src="/img/thorr.png" alt="" class="pic" />

  <section class="hidden">
    Thorr Stevens
  </section>

</header>

<!-- Intro -->
<article class="intro-wrapper">

  <section class="designer skillset">
    <h1 class="des-title">Designer</h1>
    <div class="des-wrapper">
      <ul>
        <li>
          <img src="" alt=""><span>Affinity Designer</span>
          <progress value="85" max="100">85%</progress>
        </li>
        <li>
          <img src="" alt=""><span>Affinity Photo</span>
          <progress value="80" max="100">80%</progress>
        </li>
        <li>
          <img src="" alt=""><span>Adobe Photoshop</span>
          <progress value="60" max="100">60%</progress>
        </li>
        <li>
          <img src="" alt=""><span>Adobe Illustrator</span>
          <progress value="70" max="100">70%</progress>
        </li>
        <li>
          <img src="" alt=""><span>Adobe After Effects</span>
          <progress value="75" max="100">75%</progress>
        </li>
        <li>
          <img src="" alt=""><span>Cinema 4D</span>
          <progress value="65" max="100">65%</progress>
        </li>
      </ul>
    </div>
  </section>

  <section class="developer skillset">
    <h1 class="dev-title">&#60;developer&gt;</h1>
    <div class="dev-wrapper">
      <ul>
        <li>
          <span class="tech">(HTML5, CSS3, Media Queries)</span> Responsive Web
          <progress value="90" max="100">90%</progress>
        </li>
        <li>
          <span class="tech">(ES2016, REACT)</span> Front-End
          <progress value="85" max="100">85%</progress>
        </li>
        <li>
          <span class="tech">(PHP, MySQL, API, Node.js, Socket.io)</span> Back-End
          <progress value="85" max="100">85%</progress>
        </li>
        <li>
          <span class="tech">(Swift, Java)</span> App Development
          <progress value="55" max="100">55%</progress>
        </li>
        <li>
          <span class="tech">(Arduino, C++, OpenFrameworks)</span> Experimental
          <progress value="60" max="100">60%</progress>
        </li>
        <li>
          <span class="tech">(Phaser.js / SVG)</span> 2D Game Development
          <progress value="70" max="100">70%</progress>
        </li>
      </ul>
    </div>
  </section>

</article>
<!-- / Intro -->

<!-- About -->
<article class="about-me">

  <div class="subheader about-header">
    <div class="line">&nbsp;</div>
    <h2>About Me</h2>
  </div>

  <section class="about-text">
    <p>Hi there!</p>
    <p>I'm an aspiring developer and designer of digital products. In short, I both design and program stuff like Websites and Mobile Apps. I usually prefer working with JavaScript for both frond-end and back-end (node) and I'm currently interested in picking up REACT Native and even more Node.js</p>
    <p>For my design Skills, I think Photoshop and Illustrator are fine, but I personally prefer Affinity Designer and Affinity Photo. When it comes to motion graphics though, Adobe After Effects and Cinema 4D will always be King for me.</p>
  </section>

</article>
<!-- / About -->

<!-- Projects -->
<article class="projects">

  <div class="subheader projects-header">
    <div class="line">&nbsp;</div>
    <h2>Projects</h2>
  </div>

  <div class="projects-wrapper">

    <div class="prev hidden">&nbsp;</div>
    <div class="next">&nbsp;</div>

    <div class="projects-overview" style="margin-left: 0%;">

      <section class="project" style="background-image: url('/img/motorshop_bg.png');">
        <a href="http://www.motorshop.be" class="picture" target="blank"><img src="/img/motorshop_img.png" alt=""/></a>
        <div class="project-info">
          <h2><a href="http://www.motorshop.be" target="blank">Motorshop.be</a></h2>
          <p>For this project I'm currently working on building and expanding a custom made CMS. So far I've written all the necessary API code and both Back-End en Front-End modules to manage products, categories and images. Next on the list is the ability to create custom pages from combining editable modules. The CMS relies heavily on PHP, MySQL and JavaScript.</p>
        </div>
      </section>

      <section class="project" style="background-image: url('/img/schiedam_bg.png');">
        <a href="https://hetverhaalvansdam.herokuapp.com/sdamtp/0" class="picture" target="blank"><img src="/img/schiedam_img.png" alt=""/></a>
        <div class="project-info">
          <h2><a href="" target="blank">The Story of Schiedam</a></h2>
          <p>An international collaboration between students of Devine from Belgium and students Cross Media Development from the Netherlands. To blow new life into the old town of "Schiedam" (Netherlands), we designed and prototyped an experience where you could follow one long road and interact with stationary <a href="https://hetverhaalvansdam.herokuapp.com/sdamtp/0" target="blank">screens</a> with your <a href="https://hetverhaalvansdam.herokuapp.com/" target="blank">smartphone</a> to audiovisually uncover the rich history of the town.</p>
        </div>
      </section>

      <!--<section class="project" style="background-image: url('/img/geldhof_bg.png');">
        <a href="http://student.howest.be/thorr.stevens/20152016/MAIII/STREEKPRODUCT/index.html" class="picture" target="blank"><img src="/img/geldhof_img.png" alt=""/></a>
        <div class="project-info">
          <h2><a href="http://student.howest.be/thorr.stevens/20152016/MAIII/STREEKPRODUCT/index.html" target="blank">Geldhof: Nose for Passion</a></h2>
          <p>A school project, for which I've created a fictitional event where the Geldhof Candy Company would supposedly sell Valentines boxes with specially designed typical Ghentian "Noses". People who ordered these could then upload a picture with their partner and the gift in order to win a romantic weekend for the two of them.</p>
          <p>I even made a <a href="http://student.howest.be/thorr.stevens/20152016/MAIII/STREEKPRODUCT/game.html" target="blank">game</a> you could play (Phaser.js) where you would drive the typical cart where they sell the candy through Ghent. Throwing the noses at people would then "warm their heart" and increase your high score.</p>
        </div>
      </section>-->

      <section class="project" style="background-image: url('/img/ketnet_bg.png');">
        <a href="https://vimeo.com/180069018" class="picture" target="blank"><img src="/img/ketnet_img.png" alt=""/></a>
        <div class="project-info">
          <h2><a href="https://vimeo.com/180069018" target="blank">Ketnet Summer Rebrand</a></h2>
          <p>A rebranding exercise I did as an assignment by Devine. The idea was to restyle the current 2D branding with more seasonal, 3D animations. The rebrand video has:</p>
          <p>A 3D and 2D summer styled Logo Animation buildup (0:03), an 'Evening Overview' of all the programs for that night (0:18), an 'Overlay Bumber' indicating the current and following programmes (0:41), a Montage of all the new programmes and seasons this summer (1:05), and a 'Secret Feature' (1:37).</p>
        </div>
      </section>

      <section class="project" style="background-image: url('/img/boek_bg.png');">
        <a href="http://student.howest.be/jasper.van.damme/20152016/MAIV/KLAS/" class="picture" target="blank"><img src="/img/boek_img.png" alt=""/></a>
        <div class="project-info">
          <h2><a href="http://student.howest.be/jasper.van.damme/20152016/MAIV/KLAS/" target="blank">Campaign for Boek.be</a></h2>
          <p>A collaberation with fellow Devine student <a href="https://www.linkedin.com/in/vdjasper" target="blank">Jasper Van Damme</a>. Together we worked on an assignment that required a front-end website that allowed teachers and schools to submit revisions of "A Hitchhikers Guide to the Galaxy", and a REACT back-end where the Boek.be staff could read and score these revisions. Where we both worked on the concept and design, Jasper made the front-end while I made the REACT back-end.</p>
        </div>
      </section>

      <section class="project" style="background-image: url('/img/orange_bg.png');">
        <a href="https://vimeo.com/127928322" class="picture" target="blank"><img src="/img/orange_img.png" alt=""/></a>
        <div class="project-info">
          <h2><a href="https://vimeo.com/127928322" target="blank">Orange: Netverse</a></h2>
          <p>In 2015, Orange (the mobile company) came to visit us at Devine Howest, Belgium and together with our teachers explained that two of our main assignments would be part of a creative competition. The main thing asked of us was to "Help visualize the network". This is the result.</p>
        </div>
      </section>

      <section class="project" style="background-image: url('/img/funky_bg.png');">
        <a href="https://vimeo.com/96024580" class="picture" target="blank"><img src="/img/funky_img.png" alt=""/></a>
        <div class="project-info">
          <h2><a href="https://vimeo.com/96024580" target="blank">Funkydata: Mathillustrations</a></h2>
          <p>A creative programming assignment for Devine. The idea was to take a dataset (in this case from IMDB) and turn it into mathematical drawings such as lemniscates and the more famous belgian superformula. The app was made OOP and MVC style with Processing.</p>
        </div>
      </section>

    </div>
  </div>

</article>
<!-- / Projects -->

<!-- Trivia -->
<article class="trivia">

  <div class="subheader trivia-header">
    <div class="line">&nbsp;</div>
    <h2>FAQ &amp; Trivia</h2>
  </div>

  <ul class="trivia-item">
    <li><span class="q">Full Name:</span><span class="a">Thorr Stevens</span></li>
    <li><span class="q">Current Project:</span><span class="a"><a href="http://www.motorshop.be" target="blank">motorshop.be</a> (Custom CMS)</span></li>
    <li><span class="q">For Hire?</span><span class="a">Looking for an Internship</span></li>
    <li><span class="q">E-Mail:</span><span class="a">thor_r_stevens@hotmail.com</span></li>
    <li><span class="q">Current City:</span><span class="a">Ghent, Belgium</span></li>
    <li><span class="q">City of Birth:</span><span class="a">June 7th 1992</span></li>
    <li><span class="q">Languages:</span><span class="a">Dutch, English (French)</span></li>
    <li><span class="q">Home Country:</span><span class="a">Belgium</span></li>
    <li><span class="q">College:</span><span class="a"><a href="http://www.howest.be/Default.aspx:target=pih&lan=nl&item=1094" target="blank">Devine</a></span></li>
    <li><span class="q">High School:</span><span class="a">Multimedia</span></li>
    <li><span class="q">Laptop:</span><span class="a">Macbook Pro</span></li>
    <li><span class="q">Design Tool of Choice:</span><span class="a"><a href="https://affinity.serif.com/en-us/ui-design-software/" target="blank">Affinity Designer</a></span></li>
    <li><span class="q">Code Editor:</span><span class="a">Sublime Text</span></li>
    <li><span class="q">Spaces or Tabs?</span><span class="a">Tabs</span></li>
    <li><span class="q">Operating System:</span><span class="a">MacOS (Sierra)</span></li>
    <li><span class="q">Programming Language:</span><span class="a">Depends, but mostly Javascript</span></li>
    <li><span class="q">Designspiration:</span><span class="a"><a href="https://www.pinterest.com/thorrstevens/designspiration/" target="blank">Pinterest</a></span></li>
    <li><span class="q">Browser:</span><span class="a">Chrome</span></li>
    <li><span class="q">Most used Extension:</span><span class="a"><a href="http://usepanda.com/" target="blank">Panda</a></span></li>
    <li><span class="q">Hobbies:</span><span class="a">Gaming, Reading, Writing</span></li>
    <li><span class="q">Favorite show:</span><span class="a">Black Mirror</span></li>
    <!--<li><span class="q">Favorite pet name:</span><span class="a">Doggo</span></li>-->
    <li><span class="q">Publications?</span><span class="a"><a href="http://www.tijd.be/dossier/youngvisionaward-genomineerden/De_hypocrisie_van_onze_tijd.9272036-2849.art" target="blank">De Hypocrisie van Onze Tijd</a></span></li>
  </ul>

</article>
<!-- / Trivia -->

<!-- Social -->
<article class="on-the-web">

  <div class="subheader social-header">
    <div class="line">&nbsp;</div>
    <h2>On the Web</h2>
  </div>

  <section class="social">
    <a class="linkedin" href="https://www.linkedin.com/in/thorr-stevens-a61282132" target="blank"><span>LinkedIn</span></a>
    <a class="behance" href="https://www.behance.net/ThorrStevens" target="blank"><span>Béhance</span></a>
    <a class="vimeo" href="https://vimeo.com/thorrstevens" target="blank"><span>Vimeo</span></a>
  </section>

</article>
<!-- / Social -->
