<article class="mobileView">

  <div class="meta hidden">Choose a card</div>

  <!-- Cards Screen -->
  <section class="cardsScreen hidden">

    <div class="cardsContainer">
      <section class="cardDeck" style="margin-left: 0px;">

      </section>
    </div>

  </section>
  <!-- / Cards Screen -->

  <!-- Story Screen -->
  <section class="storyInfo">

    <div class="progressWrapper hidden">
      <div class="timePlayedMask">
        <div class="timePlayed">&nbsp;</div>
      </div>
      <div class="timeLeft">&nbsp;</div>
    </div>

    <div class="closeButton hideButton">Terug</div>

  </section>
  <!-- / Story Screen -->

  <!-- Pair Screen -->
  <section class="pairScreen">

    <div class="captureOption">
      <h2 class="scanTitle">Scan de QR Code</h2>
      <button class="captureButton" type="button">&nbsp;</button>
      <div class="captureWrapper">
        <input class="camCapture" type="file" name="file" accept="image/*" capture="camera" />
        <img class="capturedImage" src="" alt="" />
      </div>
      <h3 class="codexTitle">of voer de code in:</h3>
    </div>

    <div id="PassCodex" class="hideCodex">
      <div id="passCodex1" class="codexTicker">
        <span class="upButton">&nbsp;</span>
        <h2 id="1" class="rowValue">X</h2>
        <span class="downButton">&nbsp;</span>
      </div>
      <div id="passCodex2" class="codexTicker">
        <span class="upButton">&nbsp;</span>
        <h2 id="2" class="rowValue">X</h2>
        <span class="downButton">&nbsp;</span>
      </div>
      <div id="passCodex3" class="codexTicker">
        <span class="upButton">&nbsp;</span>
        <h2 id="3" class="rowValue">X</h2>
        <span class="downButton">&nbsp;</span>
      </div>
      <div id="passCodex4" class="codexTicker">
        <span class="upButton">&nbsp;</span>
        <h2 id="4" class="rowValue">X</h2>
        <span class="downButton">&nbsp;</span>
      </div>
    </div>

  </section>
  <!-- / Pair Screen -->

</article>
